@media (max-width: 460px) {
  .bottom-contact {
    height: 800px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    height: 330px;
    margin: 40px 10px;
    padding: 20px 0;
    border-radius: 50px;
    border-top: 20px solid #4fffb0;
    background-color: rgba(105, 244, 244, 0.306);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .logos {
    border-radius: 0;
  }

  .logos-slide img {
    height: 30px;
    margin: 0 20px;
    border-radius: 50%;
  }

  .profile {
    margin-top: 2px;
  }

  .profile-potion {
    margin: 40px 15px 0;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-top: 30px;
    display: block;
    border-radius: 50px;
  }

  .info {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin-top: -120px;
  }

  .intro p {
    margin-top: -50px;
    font-size: 8px;
    font-weight: 200;
    color: white;
  }

  .wrapper {
    width: 300px;
    margin: 0 0 50px -20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrapper .static-txt {
    color: #fff;
    font-size: 13px;
    font-weight: 400;
  }

  .wrapper .dynamic-txts {
    margin-left: -35px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
  }

  .dynamic-txts li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: glide 6s steps(4) infinite;
  }

  @keyframes glide {
    100% {
      top: -79.1px;
    }
  }

  .dynamic-txts span {
    position: relative;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    border-left: 2px solid #ffffff;
    animation: typing 1.5s steps(10) infinite;
  }

  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }

  .intro h1 {
    font-size: 20px;
  }

  .intro p {
    margin-top: -50px;
    font-size: 10px;
    font-weight: 200;
    color: white;
  }

  .about-me {
    height: 800px;
    margin: 40px 15px 0;
  }

  .about-profile-pic {
    margin: 20px 0 0 0;
    height: 300px;
  }

  .about-words {
    font-size: 9px;
    margin: 0;
    width: 100%;
    height: 400px;
  }

  .aboutme h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -70px;
  }

  .round-button {
    width: 40px;
    height: 40px;
    border: none;
  }

  .download-btn {
    margin-left: 10px;
  }

  .aboutme-title h1 {
    width: 100%;
  }

  .skills {
    margin: 40px 15px 0;
  }

  .skills-section h1 {
    width: 100%;
  }

  .project-potion {
    height: 1700px;
    margin: 40px 15px 10px;
  }

  .project-title h1 {
    width: 100%;
  }

  .project-container {
    display: flex;
    align-items: center;
  }
  .project-pic {
    height: 250px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    margin: -65px 0 0 0;
    row-gap: 8px;
    height: 300px;
    width: 100%;
  }
  .project-about-about p {
    width: 100%;
    font-size: 9.5px;
    font-weight: 800;
  }
  .project-description h1 {
    font-size: 10px;
    width: 100%;
  }

  .para-description {
    margin: 0;
  }

  .bottom-contact-title {
    font-size: 25px;
  }

  #contact {
    width: 100%;
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*------------------------------***********************------------------------------------*/

@media (max-width: 420px) {
  .about-profile-pic {
    margin: 20px 0 0 0;
    height: 250px;
  }

  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-potion {
    height: 1700px;
  }

  .project-about-language {
    font-size: 14px;
  }

  .skills {
    display: flex;
    flex-direction: column;
    height: 330px;
    margin: 40px 10px;
    padding: 20px 0;
    border-radius: 50px;
    border-top: 20px solid #4fffb0;
    background-color: rgba(105, 244, 244, 0.306);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }

  .logos {
    border-radius: 0;
  }

  .logos-slide img {
    height: 30px;
    margin: 0 20px;
    border-radius: 50%;
  }
}

/*------------------------------***********************------------------------------------*/

@media (max-width: 395px) {
  .project-about-language {
    font-size: 12px;
  }
}

@media (max-width: 360px) {
  .project-potion {
    height: 1800px;
  }
}
