@media (max-width: 952px) {
  .toolbar-content {
    display: none;
  }

  .menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 7px;
  }
}

@media (min-width: 952px) {
  .menu {
    display: none;
  }
}

@media (max-width: 1250px) {
  .project-container {
    display: flex;
    align-items: center;
  }
  .project-pic {
    height: 400px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    height: 300px;
    width: 80%;
  }
  .project-about-about p {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-direction: column;
  }
  .project-container-3-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .project-pic {
    height: 500px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    height: 300px;
    width: 100%;
  }
  .project-about-3-section {
    height: 300px;
    width: 100%;
  }
}

@media (max-width: 1080px) {
  .wrapper {
    margin-left: 0;
  }

  .intro p {
    font-size: 18px;
    font-weight: 200;
    color: white;
  }

  .about-words {
    margin: 30px 0 0 15px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .about-words p {
    font-size: 17px;
  }

  .about-profile-pic {
    display: none;
  }

  .about-profile-picc {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    border-radius: 50px;
  }

  .about-profile-picc img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.2; /* Adjust the opacity to your liking */
  }
}

@media (max-width: 1008px) {
  .profile-potion {
    margin: 40px 30px 0;
  }
  .about-me {
    margin: 40px 30px 0;
    height: 900px;
  }

  .about-words {
    margin: 30px 0 0 15px;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  .wrapper {
    width: 350px;
    margin-bottom: 50px;
  }

  .intro p {
    margin-top: -20px;
    font-size: 15px;
    font-weight: 200;
    color: white;
  }

  .wrapper .static-txt {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }

  .wrapper .dynamic-txts {
    margin-left: -28px;
    height: 31px;
    line-height: 31px;
    overflow: hidden;
  }

  .dynamic-txts li {
    color: var(--secondary-color);
    list-style: none;
    font-size: 25.5px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: glide 6s steps(4) infinite;
  }

  @keyframes glide {
    100% {
      top: -124.7px;
    }
  }

  .dynamic-txts span {
    position: relative;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    border-left: 2px solid #ffffff;
    animation: typing 1.5s steps(20) infinite;
  }

  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }
}

@media (max-width: 830px) {
  .profile {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -100px;
  }
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-pic {
    width: 300px;
    height: 300px;
    overflow: hidden;
    margin-top: 100px;
    display: block;
    border-radius: 50px;
  }

  .about-profile-pic {
    width: 300px;
    height: 350px;
    overflow: hidden;
    margin-top: 30px;
    display: block;
    border-radius: 50px 150px;
  }

  .about-words {
    margin: 30px 0 0 15px;
    width: 100%;
    height: 300px;
  }

  .info h1,
  p {
    margin: 0;
    text-align: center;
  }

  .info {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-top: -130px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100px;
    width: 400px;
    z-index: 1000;
  }

  .wrapper .dynamic-txts {
    margin: 0 0 0 -28px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
  }

  .dynamic-txts li {
    color: var(--secondary-color);
    list-style: none;
    font-size: 26px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: glide 6s steps(4) infinite;
  }

  @keyframes glide {
    100% {
      top: -128px;
    }
  }

  .dynamic-txts span {
    position: relative;
  }

  .dynamic-txts li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--color-black);
    border-left: 2px solid #ffffff;
    animation: typing 1.5s steps(20) infinite;
  }

  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }
  }

  .intro p {
    margin: 0px 0 0 0;
    font-size: 12px;
    font-weight: 500;
    padding: 0 0 10px 0;
    color: white;
  }

  .round-button {
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary-color);
    border-radius: 50%;
  }

  .social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .social-media a {
    margin: 0;
  }

  .resume {
    display: flex;
    justify-content: center;
    margin-left: -10px;
  }

  .about-words p {
    font-size: 14px;
  }

  .project-container {
    display: flex;
    align-items: center;
  }
  .project-pic {
    height: 400px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    margin: -20px 0 0 0;
    row-gap: 15px;
    height: 300px;
    width: 100%;
  }
  .project-about-about p {
    width: 100%;
    font-size: 14px;
  }
}

@media (max-width: 750px) {
  .project-container {
    display: flex;
    align-items: center;
  }
  .project-pic {
    height: 300px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    margin: -20px 0 0 0;
    row-gap: 10px;
    height: 250px;
    width: 100%;
  }
  .project-about-about p {
    width: 100%;
    font-size: 14px;
  }
  .project-description h1 {
    font-size: 12px;
    width: 450px;
  }
}

@media (max-width: 650px) {

  .project-container {
    display: flex;
    align-items: center;
  }
  .project-pic {
    height: 250px;
    width: 100%;
    padding: 0;
  }
  .project-about {
    margin: -20px 0 0 0;
    row-gap: 20px;
    height: 300px;
    width: 100%;
  }
  .project-about-about p {
    width: 100%;
    font-size: 12px;
  }
  .project-description h1 {
    font-size: 12px;
    width: 450px;
  }

  .wrapper {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-words {
    margin: 30px 0 0 15px;
    width: 100%;
    height: 350px;
  }

  .intro p {
    margin-top: -50px;
    font-size: 10px;
    font-weight: 200;
    color: white;
  }

  .round-button {
    width: 50px;
    height: 50px;
    border: none;
  }

  .about-words p {
    font-size: 13px;
  }

  .project-description h1 {
    font-size: 10px;
    width: 350px;
  }
}

@media (max-width: 510px) {
  .about-words p {
    font-size: 12px;
  }
  .about-words {
    margin: 0;
  }
}
