.contact {
  position: fixed;
  top: 40%;
  height: 200px;
  background-color: #ececec;
  z-index: 100;
  width: 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  transition: left 0.3s ease;
  cursor: pointer;
}

.vertical-text {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.other-contact {
  height: 150px;
  width: 40px;
  border-radius: 20px 20px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: width 0.3s ease, left 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  color: white;
}

.other-contact a {
  display: none;
  margin-bottom: 15px;
}

.other-contact:hover {
  width: 300px;
  animation: showContact 2s;
}

.other-contact:hover p {
  display: none;
}

.other-contact:hover a {
  display: block; /* Show the paragraph on hover */
  margin-top: -10px;
  animation: showContact 2s; /* Add the desired animation */
}

.phoneCall {
  height: 50px;
  width: 40px;
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  transition: width 0.3s ease, left 0.3s ease;
  cursor: pointer;
  overflow: hidden;
  background-color: var(--whatsapp-color);
}

.phoneCall img {
  height: 40px;
}

.phoneCall:hover img {
  margin-left: -97px;
}

.phoneCall a {
  display: none; /* Hide the paragraph initially */
  font-size: 20px;
  color: white;
}

.phoneCall:hover {
  width: 300px;
  animation: showContact 2s;
}

.phoneCall:hover a {
  display: block; /* Show the paragraph on hover */
  animation: showContact 2s; /* Add the desired animation */
}

@keyframes showContact {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

