.profile {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .profile-potion {
    height: 600px;
    margin: 80px 70px 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: rgba(255, 0, 238, 0.);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  
  .info {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .info h1 {
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
  }
  
  .intro {
    margin-top: 150px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .intro p {
    margin: 5px 0px 10px;
  }
  
  .profile-pic {
    width: 500px;
    height: 500px;
    overflow: hidden;
    margin-top: 30px;
    display: block;
    border-radius: 50px;
  }
  
  .about-profile-pic {
    width: 550px;
    height: 500px;
    border-radius: 50px 150px;
    overflow: hidden;
    display: block;
  }
  
  .menu {
    margin-right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
  }
  
  /* Your existing styles for buttons and toolbar */
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(128, 54, 207, 0.7);
    backdrop-filter: blur(10px);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  
  .sidenav a:hover {
    opacity: 0.5;
  }
  
  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    background-color: rgb(128, 54, 207);
    border: 0;
    color: rgb(0, 0, 0);
    transition: 0.2s;
  }
  
  .close-btn:hover {
    opacity: 0.5;
    font-size: 35px;
  }
  
  @media (max-width: 952px) {
    .toolbar-right {
      display: none;
    }
    .menu {
      display: block;
    }
    .toolbar-left {
      margin-left: -50px;
    }
  }
  @media (min-width: 952px) {
    .menu {
      display: none;
    }
  }
  
  .toolbar i {
    animation: slideTop 0.5s ease forwards;
  }
  @keyframes sildeTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes sildeBottom {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .social-media a {
    color: rgb(123, 0, 255);
    font-size: larger;
    margin-right: 10px;
  }
  
  .social-media a:hover {
    opacity: 0.5;
  }

  .headline {
    display: flex;
  }
  
  .text-div-name {
    position: relative;
    margin-top: 9px;
    font-size: 2.5rem;
    letter-spacing: 3px;
    cursor: pointer;
  }

  .hover-text-name {
    position: absolute;
    inset: 0;
    width: 0%;
    height: 80%;
    color: #00fffb;
    overflow: hidden;
    border-right: 3px solid #00fffb;
    animation: slide-in 4s infinite; /* Added animation property */
  }
  
  .menu-btn {
    position: relative;
    z-index: 1;
    width: 100px;
    height: 40px;
    color: white;
    border-radius: 5px;
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: x-large;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-block;
  }
  
  .menu-btn:active {
    opacity: 0.5;
  }
  
  /*
  .topbar {
    position: relative;
  }
  
  .topbar::before {
    color: black;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 10px;
    background: hsl(200 100% 80%);
    transform: scaleX(0);
    transition: transform 0.3s ease;
    opacity: 0.3;
    z-index: 0;
    transform-origin: right;
  }
  
  .topbar:hover::before {
    transform: scaleX(1);
    transform-origin:  left;
  }
  */
  
  .fit-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* You can use 'contain' or other values based on your needs */
  }
  
  .btn-5 {
    width: 100px;
    height: 40px;
    padding: 0;
    border: none;
  }
  .btn-5:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: none;
  }
  .btn-5:before,
  .btn-5:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #c797eb;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  .btn-5:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }