@import "./home.css";
@import "./aboutMe.css";
@import "./skills.css";
@import "./experience.css";
@import "./projects.css";
@import "./lightbox.css";

body {
  font-family: "Inter var", sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("./img/bggggg.png") center/cover no-repeat; /* Set your background images */
  filter: blur(10px); /* Adjust the blur amount */
}
 
